.contacts {
  margin-right: 4px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-right: 12px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }

  p {
    @include offset;
  }

  p,
  a {
    font-size: 15px;
    line-height: 25px;
    color: inherit;
    opacity: 0.5;
  }
}
