.feedback {
  padding: 92px 0 112px;
  background: $accent url("../img/triangles-feedback.svg") no-repeat center 43px;

  @media (max-width: $tablet-width) {
    padding: 78px 0 103px;
    background: $accent;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 43px;
  }
}

.feedback__container {
  background: url("../img/paper-plane.png") no-repeat left 39% / 42%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/paper-plane@2x.png");
  }

  @media (max-width: $tablet-width) {
    background: none;
  }

  @media (max-width: $mobile-width) {
    max-width: 591px;
  }
}

.feedback__content {
  max-width: 585px;
  margin-left: auto;
  padding-left: 15px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding-left: 0;
    max-width: 100%;
  }
}

.feedback__heading {
  @include heading-style;
  margin-left: -3px;
  margin-bottom: 11px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-left: -5px;
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-bottom: 14px;
  }
}

.feedback__content input,
.feedback__content textarea {
  padding: 15px 17px 17px;
  font-family: inherit;
  color: $basic-white;
  border: none;
  background: rgba($basic-white, 0.1);
  outline: none;

  @media (max-width: $mobile-width) {
    padding: 15px 17px 18px;
  }
}

.feedback__content input::placeholder,
.feedback__content textarea::placeholder {
  color: $basic-white;
}

.feedback__content input:focus,
.feedback__content textarea:focus {
  outline: 1px solid $basic-white;
  background: $accent;
}

.feedback__input-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

  input {
    flex-grow: 1;

    @media (max-width: $mobile-width) {
      width: 100%;
    }

    &:first-of-type {
      margin-right: 31px;

      @media (max-width: $mobile-width) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}

.feedback__content textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 38px;
  resize: none;

  @media (max-width: $tablet-width) {
    min-height: 160px;
    margin-bottom: 41px;
  }

  @media (max-width: $mobile-width) {
    min-height: 104px;
    margin-bottom: 25px;
  }
}

.feedback__content p {
  @include offset;
  margin-bottom: 50px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.feedback__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.feedback__checkbox-label {
  display: block;
  max-width: 270px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  position: relative;
  cursor: pointer;
  user-select: none;

  @media (max-width: $tablet-width) {
    padding-left: 32px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 34px;
  }

  span {
    opacity: 0.8;
  }
}

input + .feedback__checkbox-label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid $basic-white;

  @media (max-width: $tablet-width) {
    top: 3px;
    left: 0;
  }
}

input:checked + .feedback__checkbox-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 14px;
  width: 5px;
  height: 7px;
  transform: rotate(45deg);
  border-bottom: 2px solid $basic-white;
  border-right: 2px solid $basic-white;

  @media (max-width: $tablet-width) {
    top: 5px;
    left: 6px;
  }
}

.feedback__checkbox-label:hover span,
input:focus + .feedback__checkbox-label span {
  opacity: 1;
}

.feedback__checkbox-label:active {
  opacity: 0.5;
}

.feedback__button {
  display: block;
  flex-grow: 1;
  max-width: 270px;
  margin-right: 30px;
  background: transparent;
  outline: none;

  @media (max-width: $tablet-width) {
    margin-right: 40px;
    max-width: 279px;

    @media (max-width: $mobile-width) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &:hover,
  &:focus {
    background-color: $basic-white;
    border-color: $basic-white;
    color: $accent;
  }

  &:active {
    opacity: 0.5;
  }
}
