.feedback {
  padding: 92px 0 112px;
  background: $accent url("../img/triangles-feedback.svg") no-repeat center 43px;

  @media (max-width: $tablet-width) {
    padding: 78px 0 103px;
    background: $accent;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 43px;
  }
}

.feedback__container {
  background: url("../img/paper-plane.png") no-repeat left 39% / 42%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/paper-plane@2x.png");
  }

  @media (max-width: $tablet-width) {
    background: none;
  }

  @media (max-width: $mobile-width) {
    max-width: 591px;
  }
}

.feedback__content {
  max-width: 585px;
  margin-left: auto;
  padding-left: 15px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding-left: 0;
    max-width: 100%;
  }

  h2 {
    @include heading-style;
    margin-left: -3px;
    margin-bottom: 11px;

    @media (max-width: $tablet-width) {
      margin-left: -5px;
      margin-bottom: 17px;
    }

    @media (max-width: $mobile-width) {
      margin-left: 0;
      margin-bottom: 14px;
    }
  }

  p {
    margin-bottom: 50px;

    @media (max-width: $tablet-width) {
      margin-bottom: 55px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 27px;
    }
  }

  input,
  textarea {
    @media (max-width: $mobile-width) {
      padding: 15px 17px 18px;
    }
  }

  textarea {
    width: 100%;
    min-height: 154px;
    margin-bottom: 38px;

    @media (max-width: $tablet-width) {
      min-height: 160px;
      margin-bottom: 41px;
    }

    @media (max-width: $mobile-width) {
      min-height: 104px;
      margin-bottom: 25px;
    }
  }
}

.feedback__input-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

  input {
    flex-grow: 1;

    @media (max-width: $mobile-width) {
      width: 100%;
    }

    &:first-of-type {
      margin-right: 31px;

      @media (max-width: $mobile-width) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}

.feedback__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.feedback__checkbox-label {
  max-width: 250px;

  @media (max-width: $mobile-width) {
    padding-left: 34px;
  }
}

.feedback__button {
  display: block;
  flex-grow: 1;
  max-width: 270px;
  margin-right: 38px;

  @media (max-width: $tablet-width) {
    margin-right: 40px;
    max-width: 279px;

    @media (max-width: $mobile-width) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}
