.header-top {
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.header-top__logo {
  margin-right: auto;

  @media (max-width: $mobile-width) {
    margin-top: 7px;
    margin-left: 2px;
  }
}

.header-top__logo img {
  vertical-align: top;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: auto;
  }
}

.header-top__contacts-wrapper {
  max-width: 535px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $tablet-width) {
    max-width: 500px;
  }

  @media (max-width: $mobile-width) {
    max-width: 200px;
  }
}

.header-top__contact {
  display: block;
  margin-left: 81px;
  padding: 17px 0 17px 40px;
  font-size: 16px;
  line-height: 18px;
  color: $basic-white;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &:hover,
  &:focus {
    color: $accent;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-left: 34px;
    padding: 12px 0;

    svg {
      position: static;
      top: 0;
      transform: none;
    }

    span {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin-left: 24px;
  }
}

.header-top__contact--email {
  @media (max-width: $tablet-width) {
    svg {
      width: 25px;
      height: 19px;
    }
  }
}

.header-top__contact--phone {
  svg {
    left: 6px;
  }

  @media (max-width: $tablet-width) {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.header-top__button {
  margin: 4px 3px 10px 50px;
  // align-self: flex-end;

  &:hover,
  &:focus {
    color: $accent;
    border-color: $accent;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
