.page-footer {
  color: rgba($basic-dark, 0.5);
}

.page-footer__wrapper {
  position: relative;
  background-color: $footer-bg;

  a:hover,
  a:focus {
    color: $basic-dark;
    text-decoration: underline;
    outline: none;
  }

  a:active {
    opacity: 0.4;
  }
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 58px;

  @media (max-width: $tablet-width) {
    display: block;
    padding-top: 18px;
    padding-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 46px;
    padding-bottom: 0;
  }
}

.page-footer__logo-block {
  display: flex;
  flex-direction: column;
  margin-right: 25px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    padding: 0 24px 26px;
    border-bottom: 1px solid rgba($footer-gray-border, 0.2);
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 0 15px 47px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 53px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 82px;
  }

  img {
    vertical-align: top;
  }
}

.page-footer__menu {
  max-width: 994px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    padding: 38px 24px 0;
  }

  @media (max-width: $mobile-width) {
    display: block;
    padding: 0;
  }
}

.page-footer__rights {
  display: flex;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 36px;
    left: calc(50% + 59px);
    transform: translate(-50%, 0);
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    top: 124px;
    left: 50%;
  }

  p {
    @include offset;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .page-footer__rights-reserved {
    margin-right: 74px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__bottom {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid rgba($footer-gray-border, 0.2);

  @media (max-width: $tablet-width) {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 28px;
    border: none;
  }
}

.page-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__copyrights {
  max-width: 813px;
  margin-right: 4px;
  margin-left: 57px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin-left: 2px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin: 0;
    border: none;
    text-align: center;
  }

  a {
    display: block;
    color: inherit;
    margin-right: 30px;

    @media (max-width: $mobile-width) {
      margin: 0 0 21px;
    }
  }

  p {
    @include offset;
  }

  a,
  p {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
