.site-sections {
  max-width: 430px;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.site-sections ul {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.site-sections li {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.03em;
  opacity: 0.5;

  &:first-of-type {
    line-height: 25px;
    margin-right: 20px;
    letter-spacing: normal;
  }

  @media (max-width: $tablet-width) {
    letter-spacing: normal;
  }
}

.site-sections a {
  color: inherit;
}
