.container {
  max-width: 1464px;
  padding: 0 25px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.container--blocks-wrapper {
  max-width: 1218px;
}

.container--feedback {
  max-width: 1218px;

  @media (max-width: $tablet-width) {
    padding: 0 86px 0 92px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.container--footer {
  @media (max-width: $tablet-width) {
    padding: 0;
  }
}
