$basic-white: #ffffff;
$basic-black: #000000;
$accent: #00b2ff;
$basic-dark: #1b2d37;
$basic-gray-text: #666666;
$light-gray-border: #ebebeb;
$footer-gray-border: #626962;
$footer-bg: #fafafa;
$additional-grey: #c4c4c4;
$icons-grey: #cdcdcd;
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$zindex-popup: 100;
$zindex-overlay: 90;
$zindex-main-screen: 80;
$zindex-services: 80;
